.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    bottom: 0%;
    padding: 0;
    margin: 0;
    background-color:midnightblue;
    color: gray;
    
}

.menu-ul {
    color: white;
    
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}