<div id="modal-visualizar-professor" class="modal-overlay">
    <div class="modal">
    <span class="close-btn" id="fecharViewProfessor">&times;</span>

    <h3>Detalhes do Professor</h3>
    <p><strong>Nome:</strong> <span id="visualizarNomeP"></span></p>
    <p><strong>CPF:</strong> <span id="visualizarCpfP"></span></p>
    <p><strong>Gênero:</strong> <span id="visualizarGeneroP"></span></p>
    <p><strong>Email:</strong> <span id="visualizarEmailP"></span></p>
    <p><strong>Telefone:</strong> <span id="visualizarTelefoneP"></span></p>
    <p><strong>Data de Nascimento:</strong> <span id="visualizarDataNascimentoP"></span></p>
    <p><strong>Titulação:</strong> <span id="visualizarTitulacaoP"></span></p>
    <p><strong>Especialização:</strong> <span id="visualizarEspecializacaoP"></span></p>

    <div class="matriculasView">
        <table class="tabela-alunos">
            <h3>Turmas associadas</h3>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Disciplina</th>
                    <th>Curso</th>
                    <th>Professor</th>
                    <th>Sala</th>
                    <th>Carga Horária</th>
                    <th>Vagas</th>
                </tr>
            </thead>
                <tbody id="tabela-professores-turma"></tbody>
            </table>
    </div>
    <br><br>
    <div class="botaoPosition">
            <button id="btnEditarModal" >Editar</button>
            <button id="btnExcluirModal">Excluir</button>
    </div>
</div>