<div id="modal-visualizar-dep" class="modal-overlay" style="display: none;">
    <div class="modal">
    <span class="close-btn" id="fecharViewDep">&times;</span>

    <h3>Detalhes do Departamento</h3>
    <p><strong>Nome:</strong> <span id="visualizarNomeDep"></span></p>
    
    <div class="matriculasView">
        <table class="tabela-alunos">
            <h3>Cursos relacionados</h3>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Turno</th>
                    <th>Período</th>
                    <th>Carga Horária</th>
                    <th>Ações</th>
                </tr>
            </thead>
                <tbody id="tabela-cursos-dep-body"></tbody>
            </table>
    </div>
    <br><br>
    <div class="botaoPosition">
            <button id="btnEditarModal">Editar</button>
            <button id="btnExcluirModal">Excluir</button>
    </div>


</div>
</div>

