<div id="modal-visualizar-disciplina" class="modal-overlay" style="display: none;">
    <div class="modal">
    <span class="close-btn" id="fecharViewDisciplina">&times;</span>

    <h3>Detalhes da Disciplina</h3>
    <p><strong>Nome:</strong> <span id="visualizarNomeDisciplina"></span></p>
    <p><strong>Curso:</strong> <span id="visualizarCursoDisciplina"></span></p>
    <p><strong>Carga Horária:</strong> <span id="visualizarCargaHorariaDisciplina"></span></p>
    <p><strong>Periodos:</strong> <span id="visualizarPeriodosDisciplina"></span></p>

    <div class="matriculasView">
        <table class="tabela-alunos">
            <h3>Turmas da Disciplina</h3>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Professor</th>
                    <th>Período</th>
                    <th>Carga Horária</th>
                    <th>Ações</th>
                </tr>
            </thead>
                <tbody id="tabela-turmas-disciplinas"></tbody>
            </table>
    </div>
    <br><br>
    <div class="botaoPosition">
            <button id="btnEditarModal">Editar</button>
            <button id="btnExcluirModal">Excluir</button>
    </div>


</div>
</div>

