<div id="modal-visualizar-aluno" class="modal-overlay" style="display: none;">
    <div class="modal">
    <span class="close-btn" id="fecharViewAluno">&times;</span>

    <h3>Detalhes do Aluno</h3>
    <p><strong>Nome:</strong> <span id="visualizarNome"></span></p>
    <p><strong>CPF:</strong> <span id="visualizarCpf"></span></p>
    <p><strong>Gênero:</strong> <span id="visualizarGenero"></span></p>
    <p><strong>Email:</strong> <span id="visualizarEmail"></span></p>
    <p><strong>Telefone:</strong> <span id="visualizarTelefone"></span></p>
    <p><strong>Data de Nascimento:</strong> <span id="visualizarDataNascimento"></span></p>
    <p><strong>Status:</strong> <span id="visualizarStatus"></span></p>

    <div class="matriculasView">
        <table class="tabela-alunos">
            <h3>Disciplinas matriculadas</h3>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Professor</th>
                    <th>Sala</th>
                    <th>Carga Horária</th>
                    <th>Ações</th>
                </tr>
            </thead>
                <tbody id="tabela-turmas-do-aluno"></tbody>
            </table>
    </div>
    <br><br>
    <div class="botaoPosition">
            <button id="btnEditarModal" class="btn-icone btn-editar" title="Editar"></button>
            <button id="btnExcluirModal" class="btn-icone btn-excluir" title="Excluir"></button>
    </div>

</div>
</div>


