<div id="modal-visualizar-turma" class="modal-overlay" style="display: none;">
    <div class="modal">
    <span class="close-btn" id="fecharViewTurma">&times;</span>

    <h3>Detalhes da Turma</h3>
    <p><strong>Nome:</strong> <span id="visualizarNomeTurma"></span></p>
    <p><strong>Curso:</strong> <span id="visualizarCursoTurma"></span></p>
    <p><strong>Professor:</strong> <span id="visualizarProfessorTurma"></span></p>
    <p><strong>Sala:</strong> <span id="visualizarSalaTurma"></span></p>
    <p><strong>Horário:</strong> <span id="visualizarHorarioTurma"></span></p>
    <p><strong>Vagas:</strong> <span id="visualizarVagasTurma"></span></p>

    <div class="matriculasView">
        <table class="tabela-alunos">
            <h3>Alunos da turma</h3>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Gênero</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
                <tbody id="tabela-alunos-turmas"></tbody>
            </table>
    </div>
    <br><br>
    <div class="botaoPosition">
            <button id="btnEditarModal">Editar</button>
            <button id="btnExcluirModal">Excluir</button>
    </div>


</div>
</div>

