<div id="modal-visualizar-aluno" class="modal-overlay" style="display: none;">
    <div class="modal">
    <span class="close-btn" id="fecharViewAluno">&times;</span>

    <h3>Detalhes do Aluno</h3>
    <p><strong>Nome:</strong> <span id="visualizarNome"></span></p>
    <p><strong>CPF:</strong> <span id="visualizarCpf"></span></p>
    <p><strong>Gênero:</strong> <span id="visualizarGenero"></span></p>
    <p><strong>Email:</strong> <span id="visualizarEmail"></span></p>
    <p><strong>Telefone:</strong> <span id="visualizarTelefone"></span></p>
    <p><strong>Data de Nascimento:</strong> <span id="visualizarDataNascimento"></span></p>
    <p><strong>Status:</strong> <span id="visualizarStatus"></span></p>

    <div class="botaoPosition">
            <button id="btnEditarModal">Editar</button>
            <button id="btnExcluirModal">Excluir</button>
    </div>
</div>
</div>

