<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Professor</title>
</head>
<body>
<div id="modal-professor" class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h1>Cadastrar novo professor</h1>
            <span class="close-btn" id="fecharModal">&times;</span>
        </div>
        <hr>
        <div class="modal-body">
            <p>Nome do professor</p>
            <input type="text" id="nomep" class="inputbar">
            <p>CPF do professor</p>
            <input type="text" id="cpfp" class="inputbar">
            <p>Gênero</p>
            <select class="selectop" name="genero" id="generoDropdown">
                <option value="">Selecionar</option>
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="outro">Outro</option>
            </select>
            <p>E-mail</p>
            <input type="text" id="emailp" class="inputbar">
            <p>Telefone</p>
            <input type="text" id="telefonep" class="inputbar">
            <p>Data de Nascimento</p>
            <input type="date" id="datanascimentop" class="inputdate">
            <p>Especialização</p>
            <input type="text" id="especializacaop" class="inputbar">
            <p>Titulação</p>
            <input type="text" id="titulacaop" class="inputbar">
            <br>
            <br>
            <div class="botaoPosition">
                <button class="botaoAzul">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>