<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Disciplina</title>
</head>
<body>
    <div id="modal-disciplina" class="modal-overlay">
    <div class="modal">
        <span class="close-btn" id="fecharModal">&times;</span>
        <h1>Cadastrar nova Disciplina</h1>
        <hr>
        <p>Nome do Disciplina</p>
        <input id="nomed" type="text" class="inputbar">
        <p>Curso</p>
        <select class="selectop" name="curso" id="cursoModalDropdown">
            <option value="">Selecionar</option>
        </select>
        <p>Carga Horária</p>
        <input type="text" id="cargahorariad" class="inputbar">
        <p>Período</p>
        <input id="periodod" type="text" class="inputbar">
        <br>
        <br>
        <div class="botaoPosition">
            <button id="btnSalvarDisciplina" class="botaoAzul">Cadastrar</button>
        </div>
        
    </div>
</div>
</body>
</html>