<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Departamento</title>
</head>
<body>
    <div id="modal-departamento" class="modal-overlay">
    <div class="modal">
        <span class="close-btn" id="fecharModal">&times;</span>
        <h1>Cadastrar novo Departamento</h1>
        <hr>
        <p>Nome do Departamento</p>
        <input type="text" id="nomeDep" class="inputbar">
        <br>
        <br>
        <div class="botaoPosition">
            <button class="botaoAzul" id="btnSalvarDep" >Cadastrar</button>
        </div>
        
    </div>
</div>
</body>
</html>