<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Curso</title>
</head>
<body>
    <div id="modal-curso" class="modal-overlay">
    <div class="modal">
        <span class="close-btn" id="fecharModal">&times;</span>
        <h1>Cadastrar novo Curso</h1>
        <hr>
        <p>Nome do Curso</p>
        <input type="text" class="inputbar">
        <p>Departamento</p>
        <select class="selectop" name="departamento" id="departamentoDropdown">
            <option value="">Selecionar</option>
        </select>
        <p>Carga Horária</p>
        <input type="text" class="inputbar">
        <p>Turno</p>
        <select class="selectop" name="turno" id="turnoDropdown">
            <option value="">Selecionar</option>
        </select>
        <p>Períodos</p>
        <input type="text" class="inputbar">
        <br>
        <br>
        <div class="botaoPosition">
            <button class="botaoAzul">Cadastrar</button>
        </div>
        
    </div>
</div>
</body>
</html>