

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="modal-aluno" class="modal-overlay">
    <div class="modal">
        <span class="close-btn" id="fecharModal">&times;</span>
        <h1>Cadastrar novo aluno</h1>
        <hr>
        <p>Nome do Aluno</p>
        <input type="text" class="inputbar">
        <p>CPF do aluno</p>
        <input type="text" class="inputbar">
        <p>Gênero</p>
        <select class="selectop" name="genero" id="generoDropdown">
            <option value="">Selecionar</option>
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
            <option value="outro">Outro</option>
        </select>
        <p>E-mail</p>
        <input type="text" class="inputbar">
        <p>Telefone</p>
        <input type="text" class="inputbar">
        <p>Data de Nascimento</p>
        <input type="date" class="inputdate">
        <br>
        <br>
        <div class="botaoPosition">
            <button class="botaoAzul">Cadastrar</button>
        </div>
        
    </div>
</div>
</body>
</html>