<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Turma</title>
</head>
<body>
    <div id="modal-turma" class="modal-overlay">
    <div class="modal">
        <span class="close-btn" id="fecharModal">&times;</span>
        <h1>Cadastrar nova Turma</h1>
        <hr>
        <p>Curso</p>
        <select class="selectop" name="curso" id="cursoDropdown">
            <option value="">Selecionar</option>
        </select>
        <p>Disciplina</p>
        <select class="selectop" name="disciplina" id="disciplinaDropdown">
            <option value="">Selecionar</option>
        </select>
        <p>Professor</p>
        <select class="selectop" name="professor" id="professorDropdown">
            <option value="">Selecionar</option>
        </select>
        <p>Turno</p>
        <select class="selectop" name="turno" id="turnoDropdown">
            <option value="">Selecionar</option>
        </select>
        <p>Vagas</p>
        <input type="text" class="inputbar">
        <p>Sala</p>
        <input type="text" class="inputbar">
        <br>
        <br>
        <div class="botaoPosition">
            <button class="botaoAzul">Cadastrar</button>
        </div>
        
    </div>
</div>
</body>
</html>